/* LAPTOP-DEVICE 1080px*/
@media only screen and (width:1080px){
    .top-section p {
        font-size: 1.4rem;
    }
    .contact-section .container {
        margin-bottom: 4rem;
    }
}
/* TABLET-DEVICE 720px*/
@media only screen and (width:768px){
    .top-section p {
        font-size: 1.3rem;
    }
    .bg-section .col-sm-12 {
        margin: 10rem auto;
    }
    .solutions-section .container {
        margin: 6rem auto;
    }
    .services-section .container {
        margin: 7rem auto;
    }
    .consult-section .container {
        margin: 4rem auto;
    }
    .client-section .container {
        margin: 6rem auto;
    }
    .contact-section .container {
        margin: 4rem auto;
    }
    .contact-section .footer {
        margin-top: 2rem;
    }
}
/* Mobile device 320px*/
@media only screen and (width:320px){
    
}
/* Mobile L 425px */
@media only screen and (max-width:425px){
    .col-sm-6.social {
        display: none;
    }
    .top-section .row .col-sm-6 .row .top {
        width: 50%;
        /* font-size: 1.2rem; */
    }
    .top-section .row .col-sm-6 .row .top p{
        font-size: 1.2rem;
    }
    .top-section .row .bottom {
        width: 50%;
        padding-left: 0;
    }
    .top-section .row .col-sm-6 .row .bottom p{
        font-size: 1.2rem;
    }
    .nav-section img {
        height: 2rem;
        width: auto;
        margin-left: .5rem;
    }
    .bg-section .col-sm-12 {
        margin: 7rem auto;
    }
    .bg-section .col-sm-12 h1 {
        font-size: 3rem;
    }
    .bg-section .col-sm-12 p {
        font-size: 1.6rem;
    }
    .services-section .container {
        margin: 4rem auto;
    }
    .services-section .card {
        margin-bottom: 1rem;
    }
    .solutions-section .container {
        margin: 4rem auto;
    }
    .consult-section .container {
        margin: 4rem auto 0;
    }
    .consult-section .container .left-side .favicon-img {
        margin-bottom: 2rem;
    }
    .consult-section h2 {
        line-height: 4rem;
        font-size: 3rem;
    }
    .business-section .container .col-sm-4 {
        text-align: center;
    }
    .leader-section .container {
        margin-top: 2rem;
    }
    .leader-section .image {
        padding: 0;
    }
    .leader-section .image img {
        width: 100%;
    }
    .leader-section .col-sm-6 h3 {
        margin: 1rem auto 2rem;
        line-height: 4rem;
    }
    .col-sm-6.right-side {
        padding: 0;
    }
    .client-section .container {
        margin: 4rem auto;
    }
    .client-section img {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
    }
    .contact-section .container {
        margin: 3rem auto;
        text-align: center;
    }
    .contact-section h5 {
        font-size: 2.5rem;
    }
    .contact-section p {
        font-size: 1.6rem;
    }
    .contact-section li a {
        font-size: 1.8rem;
    }
    .contact-section .footer {
        margin-top: 2rem;
    }
}